<div class="container pt-4">
  <h4 class="p-2">Use Orgapp to create your own events !</h4>
  <div class="row">
    <div class="col-12 image-wrapper">
      <img src="assets/images/pexels-photo-900108.jpeg" alt="Orginize your events"/>
    </div>
    <div class="col-6 position-absolute">
      <h5>Use our backend organizer to create your own events and track them with useful statistics, QRCards and more...</h5>
      <button class="btn btn-primary">Create you event now !</button>
    </div>
  </div>
</div>
