<div class="w-100 how-to-use">
  <div class="container">
    <div class="row text-center p-3">
      <h4 class="col-12">How to use Orgapp ?</h4>
    </div>
    <div class="row p-3">
      <div class="col-6">
        <h5>Find an event</h5>
        <p>You can found any kind of events from multiples platforms from the same place</p>
        <a>Register -></a>
      </div>
      <div class="col-6">
        <h5>Create an event</h5>
        <p>Create your own event and enjoy all the cool features like: Statistics, QRCards, Publish to multiple plateforms...</p>
        <a>Create an event -></a>
      </div>
    </div>
  </div>
</div>
